/* css general header -> logo + nav , footer*/

/* cierre css general */

/* index */

/* servicios */
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
	overflow-x: hidden;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}
.botonWhatsApp img{
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/* regla para usar una font descargada a la pc */
@font-face {
	font-family: 'montserrat';
	src: url('../assets/font/Montserrat-BlackItalic.ttf');
}
@font-face {
	font-family: 'Amstagram';
	src: url('../assets/font/Amstagram.ttf');
}
a{
    text-decoration: none;
    color:rgb(255, 240, 213);
    font-size: 35px;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
	color: rgb(225, 205, 119);
}


p{
font-size: 2rem;
}

nav {
	position: relative;
	bottom: 70px;
	left: 350px;
	color:rgb(255, 240, 213);
}

.navBackground {
	background-color: rgb(210, 168, 130);
	position: relative;
	top: 0px;
    height: 250px;
}
.navBackground img {
	padding: 0px;
}


li {
   display: inline-block;
   width: 15%;
   position:relative;
   font-size: 2rem;
   justify-content: space-between;
   align-items: center;
}
ul ul {
   position: relative;
   display: none;
   justify-content: space-between;
   align-items: center;
}
h2{
text-align: center;
color: rgb(210, 168, 130);;
background-color: rgb(255, 240, 213);
text-transform: uppercase;
font-size: 3rem;
font-family: sans-serif;
}
.sec{
height: 500px;
width: 100%;
background-color: rgb(255, 240, 213);
font-size: 2rem;
color:darksalmon
}

.form-contact{
    background-color: #fff;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 7px 13px 37 rgba(0, 0, 0, .8);
}
header{
    width: 100%;
    background-color: #ff165d;
    overflow: hidden;
    color: white;
}
header span{
    font-size: 100px;
    display: block;
    text-align: center;
    padding: 2.5rem;
}
.contact{
    padding: .8rem;
    overflow: hidden;
    color: gray;
}
.contact , .contact input, .contact textarea{
    display: block;
    width: 100%;
    margin-bottom: 8px;
}
.contact label{
    font-weight: 700;
}
.contact input:not([type='submit']), .contact textarea{
    border: none;
    border-bottom: 2px solid #ff165d;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
}
.contact textarea{
    min-height: 100px;
}
input[type='submit']{
    padding: 10px;
    border: none;
    background-color: #ff165d;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#etimanila, #cd, #fantasia, #bobinas, #kraft, #obra{
    width: 632px;
    height: 500px;
    }

    @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");
body {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  font-family: "Merriweather", serif;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.container:after {
  background-color: #f2f2f2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
.img2 {
  left: -10px;
  top: 174px;
  width: 444px;
}
.img3 {
    left: 50px;
    top: 90px;
    width: 310px;
}
.divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.name {
  color: #404245;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

@mixin titulos-principales{
  font-family: Americana;
  font-size: 4rem;
  text-transform: uppercase;
  color: #6e6e6e;
  position: relative;

} 

h1{
  @include titulos-principales()
}